body{
    max-width: 100%;
} 
.first-container{
    background-image: url(./image/istockphoto-1126871607-170667a.jpg);
    /* background-blend-mode: darken; */
    /* background-color: rgba(0.0, 0.0, 0.0, 0.2); */
    background-repeat: no-repeat;
    background-size: cover;
    height: 30rem;
    width: 100%;
    text-decoration: none;
    /* border: 1px solid black; */
    
}
.first-word{
    font-size: 19px;
    font-family: cursive;
    font-style: oblique;
    font-weight: bold;
    margin-right: 70px;
    color: blueviolet;
}
h1{
    font-family: cursive;
}
.name{
    text-align: center; 
}
nav{
    text-decoration: none;
    text-align: center;
    /* margin-top: 2rem;  */
}
.click{
    background-color: orangered;
    box-shadow: 0 0 2px 3px orangered;
    margin-left: 10px; 
    padding:  14px 10px 14px 10px;
    border-radius: 3px;
    border: none;
    color: white;
    box-shadow: 0px 0px 7px 3px orangered; 
}
.fa-play-circle{
    font-size: 20rem;
    color: orangered;
}

.fa-play{
    font-size: 9rem;
}
.first-image{ 
    margin-top: 3rem;
    /* margin-left: 1.3rem;  */
    height: 399px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px ;
    width: 90%;
    box-shadow: 2px 2px 8px gray;
}
.style{  
    display: flex;
    justify-content: space-between; 
    margin-left: 3rem;
    margin-top: 3rem; 
    
}
.third-inner{ 
    /* margin-right: ;  */
     padding: 6rem; 
}
.fourth-container{
    margin-top: 3rem; 
    display: flex;


}
.forth-inner{
    margin-left: 2rem;
    margin-top: 70px;
}
.fifth-inner{
    /* margin-left: 7rem; */
    /* border: 1px solid black; */
    display: grid;
    grid-template-columns: auto auto;  
    /* grid-template-rows: auto auto; */
    grid-gap: 3px 2px;
    margin-left: 20rem;
    
}
.image-2, .image-3{
    height: 155px;
    width: 200px;
    border-radius: 6px;
}
 
.image-1, .image-4{
    height: 100px;
    width: 150px;
    border-radius: 6px;
     
}
/* .image-2{ */
   /* margin-bottom: 20px; */


.image-4{
 /* position: absolute; */
 /* top: 2rem; */
 margin-top: -45px;
    
}
.image-1{ 
    
    margin-left: 50px;
    margin-top: 100px;
}
.fifth-container{
    background-image: url(./image/istockphoto-530427216-612x612.jpg);
    width: 70%;
    height: 13rem;
    margin-top: 3.2rem;
    margin-left: 8rem; 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: darken;
    background-color: rgba(0.0, 0.0, 0.0, 0.5);
    padding-left: 4px;
}
.sixth-inner{
    text-align: center;
    color: white;
    margin-top: 120px; 
}
@media (max-width:786) {
    
}   
.bold{
    margin-left: 7px;
    /* border: 1px solid black; */
    margin-top: 70px;
    
}
.sixth-container{
    margin-top: 2rem;

}
.seventh-inner{
    text-align: center;
}
.eighth-inner{
    margin-top: 7px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 12px 10px; 
    width: 60%;
    height: 20rem;
    justify-content: center;
    margin-left: 13rem;
}
.card-img-top{
    /* width: 20%; */
    height: 120px;
    width: 100%;
    border-top-right-radius:5px ;
    border-top-left-radius: 5px ;

}
.card{
    /* border: 1px solid black; */
    box-shadow: 3px 2px 6px  gray;
    border-radius: 5px;
    height: 16rem;
    /* padding-left: 1rem; */
}
.card-body{
    margin-top: -5px;
}
.write-up{
    margin-top: 1px;

}

    


.text{
    margin-top: 5px;
    text-align: center;
}
.picture-6{
    width: 30%;
    height: 200px;
    
    
}
.trial-8{
    /* border: 1px solid black; */
    background-color: white; 
    width: 80%;
    height: 180px;
    position: relative;
    top: -135px;
    left: 110px;
    text-align: center;
    box-shadow: 0 0 1.2px 2px gray;
    
    
    
}
.ex{
    border: none; 
    background-color: aliceblue;
    height: 34px;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    padding-left: 15px;
    width: 30%;
    /* margin-left: rem; */
}
.click-4{
    border: none;
    width: 20%;
    height: 34px;
    background-color: orangered;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    margin-top: 1rem;
}
.color{
    color: rgb(18, 9, 77);
}

.trial-6{
    margin-left: 4rem;
}
.thirteen-inner{
    margin-top: 4rem;
    
}
/* .nineth-inner{  */
    /* width: 20%; */

.click-2{
    background-color: orangered;
    box-shadow: 0px 0px 2px 3px orangered;
    height: 30px;
    width: 17%;
    border-radius: 6px;
    padding:  14px 10px 14px 10px;

}
.last-pictures{
    display: flex;
    height: 16rem;
    /* width: 20%; */
    justify-content: center;
}
.pictures{
    /* padding: 2px; */
    width: 25.25%;

}
.picture-7{
    width: 30%;
    height: 200px;
    position: absolute;
    bottom: -2699px; 
    right: 3px;
    /* border: 1px solid black;  */
}
.trial-9{
    width: 40%;
    height: 100px;
    margin-left: 180px;
}


@media (max-width:768px) {
    .style{  
        display: block;
        /* justify-content: space-between;  */
        margin-left: 3rem;
        margin-top: 3rem; 
        
    }  
    .third-inner{ 
        margin-right: 3rem; 
         padding: 9px; 
        }
     .fourth-container{
            margin-top: 3rem; 
            display: block;
        
        
        }
        .eighth-inner{
            margin-top: 7px;
            display: grid;
            grid-template-columns: auto ;
            grid-gap: 10px 6px; 
            width: 20%;
            height: 20rem;
            /* justify-content: center; */
            /* margin-left
            : 13rem; */
            margin: auto;
        }
        .text{
            margin-top: 20px;
            text-align: center;
        }
        .click-2{
            background-color: orangered;
            box-shadow: 1px 1px 2px 2px orangered;
            height: 50px;
            width: 50%;
            border-radius: 3px;
            margin-top: 1010px;
            border: none;
        
        }
        .picture-6{
            width: 30%;
            height: 70px;
        }
    .sixth-container{
        margin-left: 40px;
    }   
    .last-pictures{
        max-width: 100%;
        margin-left: 9px;
    }
    .pictures{
        width: 40%;
        margin-left: 20px;
    }
    .fifth-inner{
        margin-left: 30px;
        margin-top: 30px;
    }
    .picture-7{
        position: absolute;
        bottom: -4400px;
        right: -100px;
        height: 60px;
        width: 80px;
    }
    .picture-6{
        /* margin-top: -3px; */
        position: relative;
        bottom: 20px;
        right: -70px;
    }
    .trial-6{
        margin-right: 30px;
    }
    .trial-8{
        width: 100%;
        margin-top: 70px;
        font-size: 9px;
        height: 100px;
        margin-right: 200px;
        position: relative;
        top: -135px;
        left: 110px;
        text-align: center;
        box-shadow: 0 0 1.5px 2px gray;
    }
    .click-4{
        padding-right: 70px;
    }
    .first-container{
        width: 100%;
        height: 30rem;
        padding: 80px;
        margin-right: 20px
    }
    .bar{
        /* margin-left: -7rem; */
    }
    .trial-9{
        width: 80%;
        height: 100px;
        margin-left: 90px;
    }
    #name{
        margin-bottom: 200px;
    }
    .first-inner{
        margin-bottom: 200px;
    }

}


