body{
    height: 200rem;
    max-width: 100%;
}

.first-container{
    background-image: url(./image/istockphoto-1070135118-612x612.jpg);
    background-blend-mode: darken;
    background-color: rgba(0.0, 0.0, 0.0, 0.2);
    background-repeat: no-repeat;
    background-size: cover;

    height: 19rem;
    width: 100%;
    text-decoration: none;
    /* border: 1px solid black; */
    
}
h1{
    font-family: cursive;
}
.name{
    text-align: center; 
}
nav{
    text-decoration: none;
    text-align: center;
    /* margin-top: 2rem;  */
}
.click{
    background-color: orangered;
    box-shadow: 0 0 2px 3px orangered;
    margin-left: 10px; 
    padding:  14px 10px 14px 10px;
    border-radius: 3px;
    border: none;
    color: white;
    /* box-shadow: 7px 6px 12px 3px orangered; */
}
.fa-play-circle{
    font-size: 20rem;
    color: orangered;
}

.fa-play{
    font-size: 9rem;
}

.first-image{
    margin-top: 3rem;
    margin-left: 1.3rem;  
    height: 20.5rem;
    border-bottom-right-radius: 3rem;
    width: 60%;
    box-shadow: 10px 10px 30px grey ;
}
.style{  
    display: flex;
    justify-content: space-between; 
    margin-left: 3rem;
    margin-top: 3rem; 
    
}
.third-inner{ 
    margin-right: 3rem; 
     padding: 6rem; 
}
.fourth-container{
    margin-top: 3rem; 
    display: flex;


}
.forth-inner{
    margin-left: 2rem;
    margin-top: 70px;
}
.fifth-inner{
    /* margin-left: 7rem; */
    /* border: 1px solid black; */
    display: grid;
    grid-template-columns: auto auto; 
    /* grid-template-rows: auto auto; */
    grid-gap: 3px 2px;
    margin-left: 40px;
    
}
.image-2, .image-3{
    height: 155px;
    width: 200px;
    border-radius: 6px;
}
 
.image-1, .image-4{
    height: 100px;
    width: 150px;
    border-radius: 6px;
     
}
.image-2{
   /* margin-bottom: 20px; */
}

.image-4{
 /* position: absolute; */
 /* top: 2rem; */
 margin-top: -45px;
    
}
.image-1{ 
    
    margin-left: 50px;
    margin-top: 100px;
}
.fifth-container{
    background-image: url(./image/istockphoto-530427216-612x612.jpg);
    width: 70%;
    height: 13rem;
    margin-top: 3.2rem;
    margin-left: 8rem; 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: darken;
    background-color: rgba(0.0, 0.0, 0.0, 0.5);
    padding-left:1rem ;
}
.sixth-inner{
    text-align: center;
    color: white;
    margin-top: 120px; 
}
@media (max-width:786) {
    
}   
.bold{
    margin-left: 7px;
    /* border: 1px solid black; */
    margin-top: 70px;
    
}
.sixth-container{
    margin-top: 2rem;

}
.seventh-inner{
    text-align: center;
}
.eighth-inner{
    margin-top: 7px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 12px 10px; 
    width: 60%;
    height: 20rem;
    justify-content: center;
    margin-left: 13rem;
}
.card-img-top{
    /* width: 20%; */
    height: 120px;
    width: 100%;
    border-top-right-radius:5px ;
    border-top-left-radius: 5px ;

}
.card{
    /* border: 1px solid black; */
    box-shadow: 3px 2px 6px  gray;
    border-radius: 5px;
    height: 16rem;
    /* padding-left: 1rem; */
}
.card-body{
    margin-top: -5px;
}
.write-up{
    margin-top: 1px;

}
@media(max-width:320px) {
    .style{  
        display: block; 
        /* justify-content: space-between;  */
        margin-left: 3rem; 
        margin-top: 3rem; 
    } 
}
    
    
.picture-1{
    height: 14rem;
    width: 100%;
    /* margin-left: 9px; */
    border-radius: 6px;

}
.buscuit{
    height: 14rem;
    width: 20%;
    margin-right:8px;
    /* margin-left: 2rem; */
    border-radius: 6px;
}
.picture-3{
    /* height: 6rem; */
    width: 20%;
    margin-left: 2rem;
     /* margin-left: 2rem; */ 
    border-radius: 6px;
}
.picture-4{
    height: 14rem;
    width: 80%;
    margin-left: 9px; 
     margin-left: 2rem; 
    border-radius: 6px;
}
.seventh-container{
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    max-width: 100%;
    
    width: 100%;
    
}
.tenth-inner{ 
    background-image: url(./image/istockphoto-1298734266-612x612.jpg);
    background-blend-mode: darken;
    background-color: rgba(0.0, 0.0, 0.0, 0.7) ;
    height: 14rem;
    width: 30%;
    color: white;
    margin-left: 1rem;
    border-radius: 6px;

}
.eleventh-inner{
    margin-left: 1rem;
    max-height: 14rem;
    
}
.twelveth-inner{
    margin-left: 1rem;
}
.left{
    float: left;
}
.text{
    margin-top: 5px;
    text-align: center;
}

.trial-6{
    margin-left: 4rem;
}
.thirteen-inner{
    margin-top: 4rem;
}
.nineth-inner{
    width: 50%;
}



